@{
    ViewBag.Title = "Home Page";
}

<br /><br />
<a href="/Home/NewItem">Add new Item</a>
<br /><br />

@foreach (var Items in ViewBag.Items)
{
    <div class="panel panel-primary col-sm-4">
        <div class="panel-heading text-center">@Items.Name</div>
        <div class="panel-body text-center">
            <h3>@Items.Name</h3>
            <h5>@Items.Description</h5>
            <h5>@Items.Quantity in stock</h5>
            <h5>$@Items.Price</h5>
        </div>
    </div>
}